# Modeling

In [14]:
# Imports
import pandas as pd
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV

## IRS Data

## Average Price Model

In [2]:
# Reading in the data
df_1 = pd.read_csv('../data/combined_1.csv')

In [3]:
df_1.head()

      city  price  num_restaurants    y
0   Amston    1.0                1  3.0
1  Andover    1.0                3  3.0
2  Ansonia    2.0               12  2.0
3  Ashford    1.5                4  3.0
4     Avon    2.1               30  4.0

In [4]:
# Getting our baseline
df_1['y'].value_counts(normalize=True)

3.0    0.783505
4.0    0.108247
2.0    0.108247
Name: y, dtype: float64

**Note:** This is not good. We have highly imbalanced classes, and one of the classes (1.0) is not represented at all. This is a result of the way we binned the income categories (as a weighted average of the price category weighted by the number of returns in each category). We will try to run a model, but it will likely predict all 3's, as this is the majority class.

In [5]:
# Defining our feature vector and prediction vector
X = df_1.drop(columns=['city', 'y'])
y = df_1['y']

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [6]:
# Instantiating a logistic regression model
lr = LogisticRegression(solver='liblinear')

In [7]:
# Defining parameters to search over
lr_params = {
    'C': [.01, .1, 1],
    'penalty': ['l1', 'l2', 'elasticnet', 'none']
}

In [8]:
# Instantiating a grid search 
gs = GridSearchCV(lr, lr_params, cv=5, scoring = 'accuracy')

In [9]:
# Fitting the model
gs.fit(X_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: penalty='none' is not supported for the liblinear solver

  FitFailedWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: penalty='none' is not supported for the liblinear solver

  FitFailedWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: penalty='none' is not supported for the liblinear solver

  FitFailedWarning)

GridSearchCV(cv=5, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='liblinear',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [0.01, 0.1, 1],
                         'penalty': ['l1', 'l2', 'elasticnet', 'none']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [10]:
print(f'Best Parameters: {gs.best_params_}')

Best Parameters: {'C': 0.01, 'penalty': 'l1'}

In [11]:
print(f'Best r-squared Score: {gs.best_score_}')

Best r-squared Score: 0.7793103448275863

In [12]:
# Saving the best model
lr = gs.best_estimator_

In [13]:
# Checking the score on the test set
lr.score(X_test, y_test)

0.7959183673469388

In [14]:
# Checking the predictions
lr.predict(X_test)

array([3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
       3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
       3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.])

**Note:** as expected, our model predicted 3's for everything, so this is useless for predicting affluence. We will use the CT income data as our predictions instead of the IRS data.

## CT Income Data

## Average Price Models

In [19]:
# Reading in the data
df_1 = pd.read_csv('../data/combined_3.csv')

In [20]:
df_1.head()

,city,price,num_restaurants,median_household_income,mean_household_income,per_capita_income,median_bucket,mean_bucket
0,Andover,1.0,3,100321,111230,40182,5,5
1,Ansonia,2.0,12,43305,62858,24359,2,3
2,Ashford,1.5,4,77870,95339,39139,4,4
3,Avon,2.1,30,123894,172245,66822,5,5
4,Barkhamsted,1.0,2,95735,102210,40156,4,5

### Linear Regression Model Using Per Capita Income

In [38]:
X = df_1[['price']]
y = df_1['per_capita_income']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [22]:
lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Score on the training set: {lr.score(X_train, y_train)}')
print(f'Score on the test set: {lr.score(X_test, y_test)}')

Score on the training set: 0.19013576909642016
Score on the test set: 0.15631311636880707

### Linear Regression Model Using Median Household Income

In [23]:
X = df_1[['price']]
y = df_1['median_household_income']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [24]:
lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Score on the training set: {lr.score(X_train, y_train)}')
print(f'Score on the test set: {lr.score(X_test, y_test)}')

Score on the training set: 0.06254352438460875
Score on the test set: 0.03687788930586855

### Logistic Regression Model Using Mean Bucket

In [30]:
X = df_1[['price']]
y = df_1['mean_bucket']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [26]:
# Baseline accuracy
y.value_counts(normalize=True)

5    0.48750
4    0.33125
3    0.13125
6    0.04375
2    0.00625
Name: mean_bucket, dtype: float64

**Note:** We still have highly unbalanced classes, but it is a bit better than the IRS data.

In [17]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

print(f'Score on the training set: {logreg.score(X_train, y_train)}')
print(f'Score on the test set: {logreg.score(X_test, y_test)}')

Score on the training set: 0.5083333333333333
Score on the test set: 0.5

### Random Forest Model Using Mean Bucket

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

print(f'Score on the training set: {rf.score(X_train, y_train)}')
print(f'Score on the test set: {rf.score(X_test, y_test)}')

Score on the training set: 0.7666666666666667
Score on the test set: 0.275

### K Nearest Neighbors Using Mean Bucket

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [36]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

print(f'Score on the training set: {knn.score(X_train, y_train)}')
print(f'Score on the test set: {knn.score(X_test, y_test)}')

Score on the training set: 0.5916666666666667
Score on the test set: 0.4

## Price Category Models

In [24]:
df_2 = pd.read_csv('../data/combined_4.csv')

In [25]:
df_2.head()

,city,1,2,3,4,total_restaurants,median_household_income,mean_household_income,per_capita_income,median_bucket,mean_bucket
0,Andover,1.000000,0.000000,0.000000,0.0,3,100321,111230,40182,5,5
1,Ansonia,0.000000,1.000000,0.000000,0.0,12,43305,62858,24359,2,3
2,Ashford,0.500000,0.500000,0.000000,0.0,4,77870,95339,39139,4,4
3,Avon,0.033333,0.833333,0.133333,0.0,30,123894,172245,66822,5,5
4,Barkhamsted,1.000000,0.000000,0.000000,0.0,2,95735,102210,40156,4,5

In [21]:
X = df_2[['1', '2', '3', '4', 'total_restaurants']]
y = df_2['mean_household_income']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

### Linear Regression Model

In [22]:
lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Score on the training set: {lr.score(X_train, y_train)}')
print(f'Score on the test set: {lr.score(X_test, y_test)}')

Score on the training set: 0.26327285170182224
Score on the test set: -0.36370911270267015

### Logistic Regression Model

In [26]:
X = df_2[['1', '2', '3', '4']]
y = df_2['median_bucket']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [27]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

print(f'Score on the training set: {logreg.score(X_train, y_train)}')
print(f'Score on the test set: {logreg.score(X_test, y_test)}')

Score on the training set: 0.45
Score on the test set: 0.4